body {
    background-color: rgb(204, 236, 130);
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo_faders {
    position: absolute;
    height: 25px;
    width: 75;
    top: 12%;
    left: 79%;
}

.foto__3x4 {
    position: absolute;
    height: 80px;
    width: 60;
    top: 140px;
    left: 3%;
    border-radius: 10%;
}

.brasao_gov {
    position: absolute;
    height: 65px;
    width: 50px;
    top: 5%;
    left: 4%;
}

.sua-carteirinha {
    padding: 1%;
}

.clique-aqui {
    text-align: center;
    margin-top: 10%;
}

.descricao_governo {
    position: absolute;
    top: 4%;
    left: 20%;
}

.p1 {
    position: absolute;
    top: 100%;
    left: -2%;
}

.p2 {
    position: absolute;
    top: 620%;
    left: 5%;
}


.nome_usuario {
    position: absolute;
    top: 45%;
    left: 5%;
}
.tipo_sanguineo {
    position: absolute;
    top: 55%;
    left: 20%;
}

.rg {
    position: absolute;
    top: 55%;
    left: 50%;
}

.data_nascimento {
    position: absolute;
    top: 55%;
    left: 65%;
}

.local_nascimento {
    position: absolute;
    top: 70%;
    left: 20%;
}

.endereco_residencial {
    position: absolute;
    top: 85%;
    left: 20%;  
}

.filiacao {
    position: absolute;
    top: 70%;
    left: 65%;
}



.qr_code {
    position: absolute;
    height: 80px;
    top: 50%;
    left: 5%;
}

.responsaveis_legais {
    position: absolute;
    top: 5%;
    left: 5%;
}

.nome_responsavel_1 {
    position: absolute;
    top: 12%;
    left: 5%;
}

.rg_responsavel_1 {
    position: absolute;
    top: 12%;
    left: 35%;
}

.contato {
    position: absolute;
    top: 12%;
    left: 70%
}

.nome_responsavel_2 {
    position: absolute;
    top: 30%;
    left: 5%;
}

.rg_responsavel_2 {
    position: absolute;
    top: 30%;
    left: 35%;
}

.contato_2 {
    position: absolute;
    top: 30%;
    left: 70%;
}

.orgao_expedidor {
    position: absolute;
    top: 50%;
    left: 28%;
}

.data_emissao {
    position: absolute;
    font-size: 11px;
    top: 71%;
    left: 50%;
    border: solid 1px;
}

.data_validade {
    position: absolute;
    font-size: 11px;
    top: 78%;
    left: 50%;
    border: solid 1px;
}

.descricao_vertical {
    position: absolute;
    transform: rotate(-90deg);
    top: 48%;
    left: 71%;
    white-space: pre;
}

.lei_federal {
    position: absolute;
    top: 87%;
    left: 7%;
}

.lei_federal_2 {
    position: absolute;
    top: 92%;
    left: 7%;

}

.scene {
    margin-top: 10%;
    margin-left: 35%;
    align-items: center;
    display: inline-block;
    width: 400px;
    height: 250px;
    /*   border: 1px solid #CCC; */
    margin: 40px 0;
    perspective: 2000px;
}

.card {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
    margin-top: 25%;
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    font-size: 10px;
    backface-visibility: hidden;
    border-radius: 20px;
    border: 1px solid rgb(173, 173, 173);
    align-items: center;
}


.card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
}

.card__face--front {
    background-image: linear-gradient(180deg, rgb(114, 202, 243), rgb(250, 250, 250));
    margin-block: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card__face--back {
    background-image: linear-gradient(180deg, rgb(114, 202, 243), rgb(250, 250, 250));
    transform: rotateY(180deg);
    margin-block: 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}